<%= form_with model: @homepage, local: true do |form| %>
  <% if errors %>
    <% errors.each do |next_error| %>
       <div class="alert alert-danger alert-dismissable" role="alert">      
         <%= next_error%>
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
       </div>
    <% end %>
  <% end %>

  <div class="form-group">
     <label for="exampleFormControlInput1">Email address</label>
     <input type="email" class="form-control " name="email" placeholder="name@example.com">
  </div>
      
  <div class="form-row">
     <div class="form-group col-md-6">
       <label for="inputEmail">Names (Optional) </label>
       <input type="text" name="firstName" class="form-control" placeholder="Firstname">
     </div>

     <div class="form-group col-md-6">
       <label for="inputPassword"> &nbsp;</label>
       <input type="text" name="lastName" class="form-control" placeholder="Lastname">
     </div>
   </div>
                     
  <br>
  <div class="form-row">
        <div class="form-group col-md-12">                
          <label for="inputEmail4"> Subject</label>
          <input type="text" name="subjectTitle" class="form-control" style="font-size: 20px;" placeholder="Title">                        
         </div>
                
        <div class="form-group col-md-12">              
          <textarea name="emailBody" placeholder="your message.." class="form-control" rows="6"></textarea>
        </div>  
  </div>

  <input name="clientIp" style="display: none" class="form-control" value=<%= request.remote_ip %>>
  <button type="submit" class="btn btn-secondary w-100">Send Email</button>
<% end %>
