
              <form>


              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="name@example.com">
              </div>

           <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Names (Optional) </label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Firstname">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4"> &nbsp;</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Lastname">
    </div>
  </div>


<br>
          <div class="form-row">
          <div class="form-group col-md-10">                
             <label for="inputEmail4">  Email</label>
                <input type="email" class="form-control " style="font-size: 20px;" id="exampleFormControlInput1" placeholder="Title">
              </div>
          </div>
           
             
              <div class="form-group">
              
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
              </div>

        <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Agree to 
       
       <span> 
          <a href="#" data-toggle="modal" data-target="#agreeTermsModal">terms and conditions</a>       
       </span>

      </label>

       <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="agreeTermsModal" aria-hidden="true" id="agreeTermsModal">
         <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Terms and       conditions </h5>
              <button type="button" class="close" data-dismiss="modal"       aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% 'agree' %>
            </div>
            <div class="modal-footer">
           
              <button type="button" class="btn btn-primary">Agree</button>
            </div>
          </div>
          </div>
        </div>
</div>

     <%= user_ip = request.remote_ip %>
      <p>
      create hidden field for ip to be submitted with form <% user_ip %>
      </p>
          


    </div>

  </div>

  <button type="button" class="btn bg-light w-100 border">Submit</button>

            </form>
        </div>
