<!DOCTYPE html>
<html lang="en">
   <head>
     <meta charset="utf-8">
   </head>
   
    <body > 

    
      <div class="container-fluid ">
        <div class="row">
          <div class="col">
            <div class="jumbotron jumbotron-fluid bg-light text-center">
              <div class="container">
              
                    
                    <div class="mt-4">
                    <h2 class="f-weight-thin"> 
                    	Created with ..
                    	</h2>           
                    </div>
              </div>

                  <div class="row">      
                

              <div class="col-lg-4 col-md-4">
        <div class="card bg-transparent border-0" >
          <div class="card-body theme-secondary">
            <%= image_tag 'ruby-on-rails-512.png', :class=>" card-icon  img-responsive"%>
            <h5 class="card-title">Ruby On Rails 5</h5>
  
          </div>  
         </div>
      </div>


        <div class="col-lg-4 col-md-4">
        <div class="card bg-transparent border-0" >
          <div class="card-body theme-secondary">
            <%= image_tag 'Bootstrap-512.png', :class=>" card-icon  img-responsive"%>
            <h5 class="card-title">Bootstrap 4</h5>
  
          </div>  
         </div>
      </div>

              <div class="col-lg-4 col-md-4">
        <div class="card bg-transparent border-0" >
          <div class="card-body theme-secondary ">
            <%= image_tag 'Deployment__Management_copy_AWS_CloudFormation-512.png', :class=>" card-icon  img-responsive"%>
            <h5 class="card-title">Amazon Web Services</h5>
  
          </div>  
         </div>
      </div>
  </div>


             
  <nav class="container-fluid p-5 mt-5">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/homepage/index">back</a>
        </li>


        
        <li class="nav-item">
          <a class="nav-link disabled" href="#">version 1.1</a>
        </li>
      </ul>   
    </nav>

            </div>
          </div>
        </div>
      </div>


   </body>
</html>