<!DOCTYPE html>
<html lang="en">
   <head>
     <title> Marcus </title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   
    <body>          
          
        <div class="container">
          <div class="row">    

           <div class="col">
             <div class="head d-flex  p-3 my-3 bg-theme rounded shadow-sm">
               <%= image_tag 'source-code.svg', :class=>"mr-3 head-icon"%>
               <div class="lh-100">
                 <h2 class="mb-0 lh-100"> Projects </h2>
                 <small>2016 - Current</small>
               </div>
             </div>
     
     
             <div class="my-3 p-3 rounded shadow-sm">
               <h6 class="border-bottom border-gray pb-2 mb-0">Completed Projects</h6>
                 <%= render 'completed_projects' %>                 
            
             </div>
     
     
             <div class="my-3 p-3 rounded shadow-sm">
               <h6 class="border-bottom border-gray pb-2 mb-0">All Current Projects</h6>
                 <%= render 'current_projects' %>        
             </div>
           </div>      

          </div>
        </div>


    </body>
</html>



<!--
  ## table footer links ##
  <small class="d-block text-right mt-3">
    <a href="#"> All current projects</a>
  </small>

 -->
